*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.Body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(/img/Fondo\ proyecto\ lugar\ \(2\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Header-ul{
    display: flex;
    gap: 70px;
    cursor: pointer;
}